# Used Car Auction Sales

Elimelech Berlin  
January 2024

## Context

## Data

## EDA

Imports:

In [1]:
import pandas as pd
from datetime import date, time, datetime

Load the data:
(While running `pd.read_csv('data/car_prices.csv')`, this error was raised: 'ParserError: Error tokenizing data. C error: Expected 16 fields in line 408163, saw 17'). To fix the issue causing this, I examined the file in Notepad & found an error (extra comma in original csv file. So I edited it manually.)

In [2]:
# load csv file into a dataframe, raise a warning when rows cannot be loaded
df = pd.read_csv('data/car_prices.csv', on_bad_lines='warn')

Skipping line 408163: expected 16 fields, saw 17
Skipping line 417837: expected 16 fields, saw 17
Skipping line 421291: expected 16 fields, saw 17
Skipping line 424163: expected 16 fields, saw 17

Skipping line 427042: expected 16 fields, saw 17
Skipping line 427045: expected 16 fields, saw 17
Skipping line 434426: expected 16 fields, saw 17
Skipping line 444503: expected 16 fields, saw 17
Skipping line 453796: expected 16 fields, saw 17

Skipping line 461599: expected 16 fields, saw 17
Skipping line 461614: expected 16 fields, saw 17

Skipping line 492486: expected 16 fields, saw 17
Skipping line 497010: expected 16 fields, saw 17
Skipping line 497013: expected 16 fields, saw 17
Skipping line 499085: expected 16 fields, saw 17
Skipping line 501457: expected 16 fields, saw 17
Skipping line 505301: expected 16 fields, saw 17
Skipping line 505308: expected 16 fields, saw 17
Skipping line 520463: expected 16 fields, saw 17

Skipping line 528998: expected 16 fields, saw 17
Skipping line 529011: expected 16 fields, saw 17
Skipping line 529015: expected 16 fields, saw 17
Skipping line 529624: expected 16 fields, saw 17
Skipping line 548786: expected 16 fields, saw 17
Skipping line 551224: expected 16 fields, saw 17
Skipping line 554712: expected 16 fields, saw 17

C:\Users\melec\AppData\Local\Temp\ipykernel_18164\1126926176.py:2: DtypeWarning: Columns (9,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/car_prices.csv', on_bad_lines='warn')

> ~ 25 rows are dropped from the data

Let's have a look at the shape of the data:

In [3]:
df.shape

(558811, 16)

> There are 550k+ records describeed by 16 columns/features.

To gain further understanding of the data, view colunm names & the first few rows of the data:

In [4]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [5]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

> What most of the columns describe is self explanatory. Nearly all of the columns describe features that are relevant to our analysis, even the VIN is relevant, as some of the information encoded in it may affect vehicle price. (That information will be extracted & a new column created for it.) 'Seller' may be dropped as that will be diffucult, if not impossible to extract meaningful insight from it. Saledate may prove useful, as seasonality (month), day of week & time of day may play a role in the saleprice, however, that column must divided into several different features.

Now, let's drop 'Seller' column:

In [6]:
df.drop(['seller'], axis=1, inplace=True)

With the irrelevant column removed, we can proceed with cleaning & prepping the data. First, check for missing values:

In [7]:
df.isna().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 0
state               0
condition       11794
odometer           94
color             749
interior          749
mmr                 0
sellingprice        0
saledate            1
dtype: int64

> There are several columns missing 10k+ values: make, model, trim, body, transmission, condition. Let's investigate this further by investigating if the above missing values are present in the same rows:

In [8]:
df[df['make'].isna()].isna().sum()

year                0
make            10301
model           10301
trim            10301
body            10301
transmission     1761
vin                 0
state               0
condition          87
odometer            4
color              15
interior           15
mmr                 0
sellingprice        0
saledate            0
dtype: int64

> We see many rows are missing information in several colmns. The missing information is likely essential to our undersstanding of what drives value for the vehicles & we can't learn enough info without it. Although some of the missing information can be derived from VINs of those cars, we will drop those records from the dataframe & exclude them from this analysis.

In [9]:
# create new dataframe without null values
df2 = df.dropna().reset_index()

Let's now have a look at the datatypes present in the dataset:

In [10]:
df2.dtypes

index             int64
year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer         object
color            object
interior         object
mmr               int64
sellingprice     object
saledate         object
dtype: object

> Several columns are present in the wrong data type: odometer, selling price & saledate. Of those 3, saledate is the only one that will not be transformed to numeric dtype, it will be changed to datetime.  

To deal with these columns, lets's begin with column 'odometer'. Examine individual values to learn if the entire column is non-numeric (which can be addresed by a simple transformation of dtype) or if there are problems with specific values:

In [11]:
type(df2.iloc[22265]['odometer'])

float

> The above output shows that there are numeric-types present in the column, which indicates that non-numeric dtypes are likely a result of incorrectly saved values. To deal with this, first attempt to simply change the datatype:

In [12]:
df2['odometer'] = pd.to_numeric(df2['odometer'])

In [13]:
df2.odometer.dtypes

dtype('float64')

> That seems to have solved the problem, as everything was converted without any errors.

Now, let's attempt the same solution for sellingprice:

In [14]:
df2['sellingprice'] = pd.to_numeric(df2['sellingprice'])

In [15]:
df2.sellingprice.dtypes

dtype('int64')

> With the numeric type columns succesfully converted, let's transform the 'saledate' column to datetime-like type.

First, view dtypes present in the column, & then view an example:

In [16]:
# view datatypes present in the column
df2.saledate.dtypes

dtype('O')

> That worked without a problem.

Proceed to replace the original column with a transformed version. To correctly format the format string used as an argument to the datetime.strptime method, preview the saletime value for one of the rows:

In [17]:
print(df2['saledate'][26846])
type(df2['saledate'][26846])

Thu Jan 22 2015 06:30:00 GMT-0800 (PST)

str

> The above output shows that the data in saledate is a string. Let's proceed to transform it to a datetime object:

In [18]:
df2['saledate'] = [datetime.strptime(d.replace(' (PST)', '').replace(' (PDT)', ''), "%a %b %d %Y %H:%M:%S GMT%z") for d in df2['saledate']]

Now, iterate through every saledate to ensure correct transformation:

In [19]:
for i in df2.index:
    if not isinstance(df2['saledate'][i], datetime):
        print(type(df2['saledate'][i]))

Let's check for duplicated rows. Although there may be some redundancy in column 'vin', this may result from multiple sales for a single vehicle.

In [20]:
df2.duplicated(subset='vin').sum()

6557

> There are a number of vehicles listed more than once. This may not be an issue with redundant information, as a single vehicle may have been sold multiple times. To investigate this, let's view some of the duplicates & than check if all columns are duplicated:

In [21]:
df2[df2.duplicated(subset='vin', keep=False)].sort_values(by = 'vin')

,index,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,mmr,sellingprice,saledate
178324,218119,2000,Acura,TL,3.2,Sedan,automatic,19uua5663ya022038,fl,1.9,105431.0,gold,tan,2325,1000,2015-01-27 10:00:00-08:00
31978,49021,2000,Acura,TL,3.2,Sedan,automatic,19uua5663ya022038,fl,1.9,105420.0,gold,beige,2150,1100,2014-12-23 12:15:00-08:00
128236,160618,2006,Acura,TL,Base,Sedan,manual,19uua65596a059705,nj,2.6,89661.0,white,brown,9025,8200,2015-01-28 01:30:00-08:00
289231,344335,2006,Acura,TL,Base,Sedan,manual,19uua65596a059705,nj,2.5,89741.0,white,black,9100,8500,2015-03-04 01:30:00-08:00
150649,186392,2005,Acura,TL,3.2,Sedan,automatic,19uua66215a070166,ca,3.7,131727.0,silver,gray,6600,6900,2015-01-22 04:00:00-08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209261,253325,2006,Maserati,Quattroporte,Base,Sedan,automatic,zamce39a460025306,ca,2.9,92655.0,silver,black,17250,15500,2015-02-04 04:30:00-08:00
166118,204238,2007,Maserati,Quattroporte,Executive GT DuoSelect,Sedan,automatic,zamce39a470026893,ca,2.7,46087.0,gray,gray,25100,23000,2015-02-10 04:30:00-08:00
412054,487771,2007,Maserati,Quattroporte,Executive GT DuoSelect,sedan,automatic,zamce39a470026893,ca,3.4,46128.0,gray,gray,26800,23500,2015-06-04 05:30:00-07:00
101745,129433,2014,FIAT,500L,Easy,Wagon,automatic,zfbcfabh4ez025834,fl,4.0,9435.0,red,gray,12600,10200,2015-02-02 04:30:00-08:00
350455,415069,2014,FIAT,500L,Easy,Wagon,automatic,zfbcfabh4ez025834,fl,4.7,13513.0,red,black,12300,11500,2015-06-02 02:15:00-07:00

> In the above output we see several examples of rows with identical 'vin's but they are for records of different sales.

Let's now check the entire dataframe for rows that are truly duplicated (i.e multiple records for the same sale.):

In [22]:
df2.duplicated(subset = ['vin', 'saledate']).sum()

56

> The above output shows that there are a small number of rows with identical 'vin' & 'saledate'. Let's view a dataframe with those records:

In [23]:
df2[df2.duplicated(subset = ['vin', 'saledate'], keep= False)].sort_values('vin')

,index,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,mmr,sellingprice,saledate
199574,242292,2012,Honda,Civic,EX-L,Sedan,automatic,19xfb2f97ce313922,md,4.4,68059.0,white,beige,11100,11600,2015-02-03 01:30:00-08:00
26380,42482,2012,Honda,Civic,EX-L,Sedan,automatic,19xfb2f97ce313922,md,4.0,1.0,white,beige,14150,3900,2015-02-03 01:30:00-08:00
12625,17667,2007,Dodge,Caliber,SXT,Wagon,automatic,1b3hb48bx7d113596,ga,2.0,1.0,red,gray,5100,2300,2015-01-22 04:30:00-08:00
150018,185650,2007,Dodge,Caliber,SXT,Wagon,automatic,1b3hb48bx7d113596,ga,2.0,326716.0,red,gray,1175,900,2015-01-22 04:30:00-08:00
151411,187304,2001,Dodge,Dakota,Base,Club Cab,automatic,1b7gg22n01s348630,az,1.0,140318.0,black,black,1600,2200,2015-01-22 03:00:00-08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472314,558782,2008,BMW,1 Series,135i,Convertible,automatic,wbaun93588vf56134,ca,3.3,96344.0,red,black,12500,13000,2015-07-08 09:30:00-07:00
102673,130513,2003,Mercedes-Benz,E-Class,E500,Sedan,automatic,wdbuf70j23a235692,nc,1.3,146913.0,black,tan,4375,2800,2015-01-13 09:15:00-08:00
16429,26312,2003,Mercedes-Benz,E-Class,E500,Sedan,automatic,wdbuf70j23a235692,nc,1.2,1.0,black,tan,7225,2000,2015-01-13 09:15:00-08:00
280622,334394,2007,Mercedes-Benz,CLS-Class,CLS550,Sedan,automatic,wdddj72x27a080493,mo,2.1,79869.0,gray,black,15400,17000,2015-07-08 07:30:00-07:00
201904,244910,2007,Mercedes-Benz,CLS-Class,CLS550,Sedan,automatic,wdddj72x27a080493,mo,2.1,79869.0,gray,black,15400,15800,2015-07-08 07:30:00-07:00

> Several unexpected values are present in the above dataframe: some rows describe an identical sale, but with different values for some of the columns. Some of them appear to be errors, as one of the rows have '1.0' as the record for the ododmeter but another row for the same vehicle/sale has a number better aligned with what one would expect for a vehicle several years old.

Let's proceed by dropping rows with '1.0' as odometer value:

In [52]:
df2[df2.duplicated(subset = ['vin', 'saledate'], keep= False)].index

Index([  3306,  12625,  14712,  16429,  26380,  28926,  30611,  39281,  40540,
        41485,
       ...
       408840, 411514, 411971, 418486, 441853, 452492, 461611, 466361, 471252,
       472314],
      dtype='int64', length=112)

In [39]:
df3 = df2[df2.duplicated(subset = ['vin', 'saledate'], keep= False)]

In [40]:
df3.drop(df2[df2['odometer']==1.0].index)

KeyError: '[639, 2688, 2800, 2810, 2872, 2980, 3157, 3238, 3311, 3362, 3598, 3621, 3625, 3670, 3700, 3807, 3844, 3905, 4070, 4135, 4146, 4173, 4179, 4181, 4217, 4250, 4263, 5270, 5943, 6263, 6302, 8863, 9223, 9373, 9959, 10197, 10480, 10820, 11246, 11368, 11821, 12198, 12405, 12416, 12428, 12442, 12554, 12589, 12799, 12837, 12899, 13296, 13455, 13510, 13690, 13767, 13783, 13884, 13905, 13909, 13974, 14013, 14054, 14287, 14341, 14477, 14538, 14539, 14592, 14686, 14893, 14894, 14933, 15192, 15201, 15213, 15252, 15254, 15395, 15396, 15454, 15478, 15485, 15492, 15502, 15506, 15533, 15545, 15571, 15863, 15876, 15885, 15888, 15994, 15996, 16002, 16025, 16035, 16056, 16079, 16241, 16243, 16269, 16300, 16305, 16428, 16467, 16622, 16630, 16641, 16646, 16657, 16716, 16729, 16837, 16846, 16860, 16903, 16934, 16954, 16967, 16984, 16987, 17137, 17145, 17159, 17168, 17191, 17192, 17193, 17235, 17241, 17289, 17305, 17370, 17377, 17402, 17461, 17464, 17527, 17682, 17694, 17726, 19506, 20205, 20383, 20708, 20766, 22240, 22448, 22902, 24045, 24641, 24755, 24857, 24911, 24929, 25048, 25127, 25134, 25150, 25190, 25208, 25325, 25407, 25420, 25425, 25426, 26025, 26790, 26883, 26990, 27119, 28048, 28449, 28544, 29762, 29822, 30330, 30690, 30923, 30936, 31071, 31098, 31165, 31311, 31461, 31471, 31554, 31569, 31576, 31670, 31716, 31846, 31944, 31985, 32026, 32155, 32166, 32201, 32258, 32379, 33371, 36747, 37543, 37623, 37658, 37744, 37812, 38622, 39030, 39032, 39638, 39847, 39938, 40075, 40453, 40498, 40554, 40707, 40818, 40960, 40970, 41124, 41178, 41185, 41255, 41259, 41269, 41416, 41498, 41519, 41627, 41659, 41660, 41663, 41677, 41705, 41738, 41753, 41788, 46106, 47222, 47345, 47346, 47489, 47494, 47594, 47894, 47933, 48309, 48347, 48360, 48371, 48537, 48545, 48551, 48621, 48629, 48720, 48728, 48747, 48773, 48856, 49886, 50757, 50999, 51304, 51392, 52016, 52145, 52255, 52829, 52869, 53994, 54462, 56649, 56650, 56800, 56820, 56841, 56944, 56959, 57068, 57080, 57098, 57139, 57207, 57225, 57253, 57792, 57990, 58811, 59755, 59882, 59883, 59894, 59994, 60458, 61128, 61190, 61287, 61696, 61836, 61876, 61977, 62067, 62082, 62205, 62213, 62250, 62323, 62390, 62486, 62540, 62561, 62566, 62601, 62701, 62779, 62824, 62864, 62925, 63595, 64467, 64488, 64841, 67116, 67133, 68149, 68406, 68467, 68477, 68494, 69506, 69601, 70009, 70381, 70757, 70778, 70797, 70803, 71215, 71417, 71443, 71622, 71623, 71688, 71801, 71806, 71854, 71869, 71899, 71994, 71997, 72563, 73412, 73450, 75550, 76706, 77174, 77253, 77459, 77655, 77693, 80645, 81849, 81938, 82008, 82024, 82173, 82247, 82306, 82308, 84425, 84831, 86390, 88283, 89651, 89789, 89850, 90016, 90252, 90406, 90477, 91093, 91099, 91262, 91942, 91943, 91975, 92238, 92249, 92413, 92444, 92635, 92641, 92741, 98676, 99183, 99622, 100431, 100502, 101071, 101133, 101269, 101588, 101847, 102296, 102330, 102376, 102463, 102477, 102915, 102925, 103024, 103026, 103031, 103109, 103158, 103255, 103258, 103267, 103275, 103285, 103334, 103380, 103385, 103403, 103407, 103411, 103451, 103481, 105326, 105368, 107836, 108186, 108511, 108589, 111221, 111273, 112018, 112152, 112316, 112477, 112587, 113808, 114141, 115812, 116167, 116298, 116305, 116391, 118246, 118695, 119242, 119378, 119476, 119645, 120896, 122477, 122662, 123373, 123375, 123655, 123820, 123958, 124051, 124142, 124166, 124180, 124227, 124241, 124242, 124391, 124396, 124433, 124437, 125629, 125709, 127299, 127995, 128190, 128592, 128642, 129974, 130663, 130664, 131074, 131236, 131311, 131317, 131717, 132864, 133093, 133150, 133171, 133209, 133215, 133223, 133262, 133324, 133778, 133796, 134164, 135365, 135440, 135804, 135912, 135942, 137726, 138081, 140049, 140084, 142329, 142573, 142898, 143797, 144285, 144301, 144435, 144527, 144549, 146614, 147158, 149319, 150113, 150338, 150879, 150915, 151012, 151474, 154796, 157794, 158382, 158700, 158803, 158936, 162637, 162656, 162941, 162955, 163034, 163041, 163045, 163617, 163961, 164436, 165476, 165658, 165705, 165874, 165968, 166417, 166484, 166589, 166645, 166688, 166756, 166835, 166888, 167064, 167085, 167129, 167221, 167384, 168860, 169209, 172027, 172560, 172654, 173476, 173665, 173757, 175017, 175097, 175159, 175185, 175250, 175318, 175406, 175417, 175503, 175649, 175792, 175814, 177258, 178192, 178314, 186924, 189109, 189134, 189199, 189545, 189604, 190192, 190380, 190753, 190860, 191326, 191343, 191527, 191562, 192071, 192239, 192259, 192273, 192488, 192530, 192552, 192559, 192561, 192577, 197817, 198112, 198384, 198447, 200473, 202127, 202847, 202885, 202913, 203066, 203087, 203111, 203117, 208791, 209128, 209579, 210195, 210314, 210372, 210999, 213171, 214658, 214675, 214942, 215135, 215453, 215628, 215693, 215710, 215893, 217714, 219010, 220482, 223110, 223351, 224407, 224509, 224516, 224570, 224879, 228412, 228557, 228687, 230349, 231422, 232356, 232903, 233168, 233328, 233998, 234022, 237812, 241195, 241512, 241911, 242170, 244288, 244365, 244522, 244545, 246491, 247736, 247809, 248772, 248836, 249007, 249060, 249381, 257582, 257610, 257667, 261265, 261631, 261674, 261771, 264914, 265011, 266058, 267880, 269288, 269293, 269443, 271293, 271323, 272312, 272315, 275995, 276061, 276073, 276105, 276215, 276225, 276371, 276482, 277814, 278135, 278173, 280251, 280704, 280734, 281412, 281653, 281660, 281715, 281719, 281738, 281790, 284596, 285810, 286217, 286247, 289350, 289392, 289601, 289632, 290064, 290990, 292525, 292526, 292536, 294168, 296855, 297109, 297930, 297995, 298028, 298342, 299522, 300804, 301176, 301699, 302934, 303848, 303869, 303925, 304073, 304189, 304282, 304293, 306020, 306158, 306696, 308886, 309982, 310348, 310393, 310596, 311116, 311251, 313624, 314047, 314203, 314321, 314516, 317631, 318979, 319150, 319180, 319369, 320788, 321971, 322049, 324323, 324664, 324859, 325903, 326055, 326394, 326412, 326415, 326465, 326909, 330373, 330542, 331251, 331257, 331297, 331393, 331427, 336145, 336180, 337324, 338094, 338237, 338301, 339356, 340504, 340507, 341409, 341835, 341882, 341893, 341910, 342006, 342018, 342117, 342120, 342121, 342135, 342190, 342194, 342219, 342254, 342298, 342354, 342392, 342427, 342576, 342592, 342611, 342667, 342675, 342782, 342786, 342792, 342828, 342874, 342901, 343032, 343033, 343205, 343208, 343209, 343237, 343242, 343283, 343392, 343486, 343532, 343768, 344144, 344411, 344417, 344464, 344870, 345314, 345340, 345453, 345598, 345613, 345800, 345810, 345813, 345893, 346009, 346017, 346324, 346354, 346363, 346431, 346660, 346934, 346939, 347075, 348019, 348228, 348850, 349005, 349339, 349344, 349711, 350102, 350209, 350357, 351341, 352511, 352891, 353561, 354253, 356150, 356190, 356822, 357069, 357130, 357143, 357694, 358441, 359021, 367608, 367834, 368936, 370562, 370902, 373802, 373859, 374960, 376202, 376217, 376620, 379194, 379441, 385447, 385764, 388389, 393401, 395067, 398345, 398420, 399995, 401061, 401472, 402908, 403231, 406587, 409151, 410022, 414211, 416518, 417212, 417231, 421026, 423213, 424685, 428633, 432612, 432700, 432788, 436133, 437284, 438973, 447948, 448529, 448637, 448645, 456355, 458345, 466352, 466420, 466475, 468498, 471288] not found in axis'

In [42]:
df2[df2['odometer']]==1.0.index

KeyError: "None of [Index([16639.0,  9393.0,  1331.0, 14282.0,  2641.0,  5554.0, 14943.0, 28617.0,\n        9557.0,  4809.0,\n       ...\n       20158.0, 71693.0,  9024.0, 25180.0, 97036.0, 66403.0, 54393.0, 50561.0,\n       16658.0, 15008.0],\n      dtype='float64', length=472336)] are in the [columns]"